body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: left;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

Ants and Food {
	
}

Click with your mouse to place food and watch the eats eat! {
	font-style: italic;
	font-size: 90%;
}
